modules = ["web", "php-8.2", "php-8.3"]
run = "php -S 0.0.0.0:5000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42949157
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd landing_page_ultrassom && php -S 0.0.0.0:5000"
